*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.mail .number{
    display: inline;
}

#navbutton{
  background-color: #662D91;
  ;
  color: white;
}
.card{
  width: 18rem;
}
.discuss{
  background-color: #66CCCC;
}
.foot{
  background-color: #C4C4C4;
}
@media(max-width:768px){
  .subproduct{
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .spone{
    width: 358px;
  }
  #span{
      display: block;
  }
}